<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        I just ate {{ food }} this morning
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur 
        adipisicing elit. Enim sunt modi quod 
        optio eaque delectus, odit minima quia 
        architecto repellat a repellendus
         voluptatibus tempora veritatis 
         saepe molestias sequi consequatur nostrum!
    </p>
</body>
</html>